@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Development";
}

<h2>Dev</h2>

<h3>Welcome to LatentDevelopment <small>1/9/2018 <small>by LatentDaemon</small></small></h3>

<p>
    Hi! I'm Brian, and I made a new years resolution to make my own website; not only that but I wanted to build, administer, and host it myself.  I thought it would be a great learning experience and would let me in on more aspects of web development that I wouldn't get to see otherwise.  I started on this project on 01/02/2018 and want to share my development experience.  
</p>
<p>
    I have always loved putting things together and knowing that I was 
</p>